# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5025
input {
  beats {
    port => 5026
  }
}

# this config will receive deployments, buildings+floors and beacons events. If the event is buildings we have to add
# add floors to the event
filter {
  fingerprint {
    source => "message"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# elastic search output
output {
  elasticsearch {
    hosts => ["https://4e1e3b07c7b943fea7a939970a7f5643.uksouth.azure.elastic-cloud.com:9243"]
    index => "-logstash-ncg-arbnco-deployments-%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
