# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5027
input {
  beats {
    port => 5027
  }
}

# filter to elasticsearch to get the device serial number and then with the serial number get the beacon details.
# Both the searches are on elasticsearch - removing dependency on mysql
filter {
  json {
    source => "message"
    target => "[@metadata][string-indexed]"
  }
  
  ruby {
    code => "
      # extract the string-indexed object to a local variable
      # iterate over the keys in the order of the string-encoded integer index
      #items_array = string_indexed['data'].keys.sort_by(&:to_i).map do |key|
        # get the item from the indexed map
        #string_indexed[key]
      #end
      # set the items array.
      #event.set('[@metadata][items-array]', items_array)

      beacons_array = []
      string_indexed = event.get('[@metadata][string-indexed]')
      string_indexed['data'].keys.map do |key|
        string_indexed['data'][key].keys.map do |beaconkey|
          beacon_item = {}
          beacon_item['event_at'] = key
          beacon_item['device_id'] = beaconkey

          beacon_item['count'] = string_indexed['data'][key][beaconkey]['count'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['count']
          beacon_item['temperature'] = string_indexed['data'][key][beaconkey]['temperature'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['temperature']
          beacon_item['co2'] = string_indexed['data'][key][beaconkey]['co2'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['co2']
          beacon_item['als'] = string_indexed['data'][key][beaconkey]['als'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['als']
          beacon_item['tvoc'] = string_indexed['data'][key][beaconkey]['tvoc'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['tvoc']
          beacon_item['pm'] = string_indexed['data'][key][beaconkey]['pm'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['pm']
          beacon_item['pm25'] = string_indexed['data'][key][beaconkey]['pm25'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['pm25']
          beacon_item['pm10'] = string_indexed['data'][key][beaconkey]['pm10'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['pm10']
          beacon_item['humidity'] = string_indexed['data'][key][beaconkey]['humidity'] == nil ? 'null' : string_indexed['data'][key][beaconkey]['humidity']
          beacons_array.push(beacon_item)
          #break
        end
        #break
      end
      event.set('[@metadata][items-array]', beacons_array)
    "
  }

  # split the events into single event items
  split {
    field => "[@metadata][items-array]"
    target => "[@metadata][single-item]"
  }

  # remove the message field (asana task asking not to remove)
  #mutate {
  #  remove_field => ["message"]
  #}

  # inject the api data into json attributes
  mutate {
    add_field => { "device_id" => "%{[@metadata][single-item][device_id]}" }
    add_field => { "[json][attributes][event_at_string]" => "%{[@metadata][single-item][event_at]}" }
    add_field => { "[json][attributes][temperature]" => "%{[@metadata][single-item][temperature]}" }
    add_field => { "[json][attributes][humidity]" => "%{[@metadata][single-item][humidity]}" }
    add_field => { "[json][attributes][co2]" => "%{[@metadata][single-item][co2]}" }
    add_field => { "[json][attributes][count]" => "%{[@metadata][single-item][count]}" }
    add_field => { "[json][attributes][als]" => "%{[@metadata][single-item][als]}" }
    add_field => { "[json][attributes][tvoc]" => "%{[@metadata][single-item][tvoc]}" }
    add_field => { "[json][attributes][pm]" => "%{[@metadata][single-item][pm]}" }
    add_field => { "[json][attributes][pm25]" => "%{[@metadata][single-item][pm25]}" }
    add_field => { "[json][attributes][pm10]" => "%{[@metadata][single-item][pm10]}" }
  }

  # find the mapping device
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "arbnco-nexus-ncg-staging-info"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    query => "json.id:%{[@metadata][single-item][device_id]}"
    fields => { "[json][device_mappings][current][external_device_id]" => "device_serial_number" }
    result_size => 1
  }

  # find the matching device number and attach all the info about the device
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "mysql-nexus-ncg-staging-beaconinfo"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    query => "serial:%{[device_serial_number]}"
    fields => {
      "departmentid" => "[json][attributes][departmentid]"
      "elevation" => "[json][attributes][elevation]"
      "y" => "[json][attributes][y]"
      "x" => "[json][attributes][x]"
      "buildingid" => "[json][attributes][buildingid]"
      "customer" => "[json][attributes][customer]"
      "lat" => "[json][attributes][location][lat]"
      "long" => "[json][attributes][location][lon]"
      "department" => "[json][attributes][department]"
      "floor" => "[json][attributes][floor]"
      "serial" => "[json][attributes][serial]"
      "platform" => "[json][attributes][platform]"
      "location" => "[json][attributes][locationname]"
      "name" => "[json][attributes][device]"
      "floorid" => "[json][attributes][floorid]"
      "customerid" => "[json][attributes][customerid]"
      "type" => "[json][attributes][devicetype]"
      "deviceid" => "[json][attributes][deviceid]"
      "building" => "[json][attributes][building]"
    }
    result_size => 1
  }

  # add all the device related fields from the elastic search
  # field data type definitions
  mutate {
    remove_field => ["device_serial_number"]
    convert => {
      "[json][attributes][temperature]" => "float"
      "[json][attributes][humidity]" => "float"
      "[json][attributes][als]" => "string"
      "[json][attributes][tvoc]" => "float"
      "[json][attributes][co2]" => "float"
      "[json][attributes][pm]" => "integer"
      "[json][attributes][pm10]" => "integer"
      "[json][attributes][pm25]" => "integer"
      "[json][attributes][location][lat]" => "float"
      "[json][attributes][location][lon]" => "float"
    }
  }

  # make sure timestamp is formatted
  date {
    target => "@timestamp"
    match => ["[json][attributes][event_at_string]", "yyyy-MM-dd HH:mm:ss 'UTC'"]
  }
  date {
    target => "[json][attributes][event_at]"
    match => ["[json][attributes][event_at_string]", "yyyy-MM-dd HH:mm:ss 'UTC'"]
  }

  # avoid duplication of messages
  fingerprint {
    source => "[@metadata][single-item]"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# elastic search output
output {
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "arbnco-nexus-ncg-staging-events"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
