# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5029
input {
  beats {
    port => 5029
  }
}

# filter
filter {
  mutate {
    add_field => { "[json][attributes][event_at]" => "%{[json][createDate]}" }
    add_field => { "[json][attributes][device_serial_number]" => "%{[json][data][origin][endDevice][devEui]}" }
  }
  date {
    target => "@timestamp"
    match => ["[json][attributes][event_at]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
  }

  # environment fields
  if "environment" in [tags] {
    if "Fridge" in [json][data][meta][global] {
      mutate {
        add_field => { "[json][attributes][environment][internal_temp_unit]" => "%{[json][data][internal_temp_unit]}" }
        add_field => { "[json][attributes][environment][internal_temp]" => "%{[json][data][internal_temp]}" }
        add_field => { "[json][attributes][environment][external_temp_unit]" => "%{[json][data][external_temp_unit]}" }
        add_field => { "[json][attributes][environment][external_temp]" => "%{[json][data][external_temp]}" }
        add_field => { "[json][attributes][environment][time]" => "%{[json][data][meta][iot][time]}" }
        add_field => { "[json][attributes][environment][device_id]" => "%{[json][data][meta][iot][device_id]}" }
      }
      mutate {
        convert => {
          "[json][attributes][environment][internal_temp]" => "float"
          "[json][attributes][environment][external_temp]" => "float"
        }
      }
      date {
        target => "@timestamp"
        match => ["[json][attributes][environment][time]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
      }
    } else if "airquality" in [json][data][meta][global] {
      mutate {
        add_field => { "[json][attributes][environment][voc]" => "%{[json][data][voc][0][value]}" }
        add_field => { "[json][attributes][environment][temperature][context_id_0]" => "%{[json][data][temperature][0][value]}" }
        add_field => { "[json][attributes][environment][temperature][context_id_1]" => "%{[json][data][temperature][1][value]}" }
        add_field => { "[json][attributes][environment][ia1]" => "%{[json][data][iaq][0][value]}" }
        add_field => { "[json][attributes][environment][humidity]" => "%{[json][data][humidity][0][value]}" }
        add_field => { "[json][attributes][environment][co2]" => "%{[json][data][co2][0][value]}" }
        add_field => { "[json][attributes][environment][time]" => "%{[json][data][meta][iot][time]}" }
        add_field => { "[json][attributes][environment][device_id]" => "%{[json][data][meta][iot][device_id]}" }
        add_field => { "[json][attributes][humidity]" => "%{[json][data][humidity][0][value]}" }
      }
      mutate {
        convert => {
          "[json][attributes][environment][voc]" => "float"
          "[json][attributes][environment][ia1]" => "float"
          "[json][attributes][environment][co2]" => "float"
          "[json][attributes][environment][humidity]" => "float"
          "[json][attributes][humidity]" => "float"
          "[json][attributes][environment][temperature][context_id_0]" => "float"
          "[json][attributes][environment][temperature][context_id_1]" => "float"
        }
      }
      date {
        target => "@timestamp"
        match => ["[json][attributes][environment][time]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
      }
    }
  }

  # Occupancy fields
  if "occupancy" in [tags] {
    mutate {
      add_field => { "[json][attributes][occupancy][status]" => "%{[json][data][status]}" }
      add_field => { "[json][attributes][occupancy][temp]" => "%{[json][data][temp]}" }
      add_field => { "[json][attributes][occupancy][power]" => "%{[json][data][device][battery][power]}" }
      add_field => { "[json][attributes][occupancy][time]" => "%{[json][data][meta][iot][time]}" }
      add_field => { "[json][attributes][occupancy][device_id]" => "%{[json][data][meta][iot][device_id]}" }
      add_field => { "[json][attributes][temperature]" => "%{[json][data][temp]}" }
    }
    mutate {
      convert => {
        "[json][attributes][occupancy][status]" => "float"
        "[json][attributes][occupancy][temp]" => "float"
        "[json][attributes][occupancy][power]" => "float"
        "[json][attributes][temperature]" => "float"
      }
    }
    date {
      target => "@timestamp"
      match => ["[json][attributes][occupancy][time]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
    }
  }

  # OpenClose fields
  if "openclose" in [tags] {
    mutate {
      add_field => { "[json][attributes][openclose][status]" => "%{[json][data][status]}" }
      add_field => { "[json][attributes][openclose][temp]" => "%{[json][data][temp]}" }
      add_field => { "[json][attributes][openclose][power]" => "%{[json][data][device][battery][power]}" }
      add_field => { "[json][attributes][openclose][time]" => "%{[json][data][meta][iot][time]}" }
      add_field => { "[json][attributes][openclose][device_id]" => "%{[json][data][meta][iot][device_id]}" }
      add_field => { "[json][attributes][temperature]" => "%{[json][data][temp]}" }
    }
    mutate {
      convert => {
        "[json][attributes][openclose][status]" => "float"
        "[json][attributes][openclose][temp]" => "float"
        "[json][attributes][openclose][power]" => "float"
        "[json][attributes][temperature]" => "float"
      }
    }
    date {
      target => "@timestamp"
      match => ["[json][attributes][openclose][time]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
    }
  }

  # Leak Detection fields
  if "leak" in [tags] {
    mutate {
      add_field => { "[json][attributes][leak_detection][humidity]" => "%{[json][data][humidity][0][value]}" }
      add_field => { "[json][attributes][leak_detection][temperature]" => "%{[json][data][temperature][0][value]}" }
      add_field => { "[json][attributes][leak_detection][value]" => "%{[json][data][leak][0][value]}" }
      add_field => { "[json][attributes][leak_detection][voltage]" => "%{[json][data][device][voltage][0][value]}" }
      add_field => { "[json][attributes][leak_detection][time]" => "%{[json][data][meta][iot][time]}" }
      add_field => { "[json][attributes][leak_detection][device_id]" => "%{[json][data][meta][iot][device_id]}" }
      add_field => { "[json][attributes][temperature]" => "%{[json][data][temperature][0][value]}" }
      add_field => { "[json][attributes][humidity]" => "%{[json][data][humidity][0][value]}" }
    }
    mutate {
      convert => {
        "[json][attributes][leak_detection][humidity]" => "float"
        "[json][attributes][leak_detection][temperature]" => "float"
        "[json][attributes][leak_detection][value]" => "boolean"
        "[json][attributes][leak_detection][voltage]" => "float"
        "[json][attributes][temperature]" => "float"
        "[json][attributes][humidity]" => "float"
      }
    }
    date {
      target => "@timestamp"
      match => ["[json][attributes][leak_detection][time]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
    }
  }

  # Current fields
  if "current" in [tags] {
    mutate {
      add_field => { "[json][attributes][current][value1]" => "%{[json][data][current][0][value]}" }
      add_field => { "[json][attributes][current][value2]" => "%{[json][data][current][1][value]}" }
      add_field => { "[json][attributes][current][value3]" => "%{[json][data][current][2][value]}" }
      add_field => { "[json][attributes][current][voltage]" => "%{[json][data][device][voltage][0][value]}" }
      add_field => { "[json][attributes][current][time]" => "%{[json][data][meta][iot][time]}" }
      add_field => { "[json][attributes][current][device_id]" => "%{[json][data][meta][iot][device_id]}" }
    }
    mutate {
      convert => {
        "[json][attributes][current][value1]" => "float"
        "[json][attributes][current][value2]" => "float"
        "[json][attributes][current][value3]" => "float"
        "[json][attributes][current][voltage]" => "float"
      }
    }
    date {
      target => "@timestamp"
      match => ["[json][attributes][current][time]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
    }
  }

  # find the matching device number and attach all the info about the device
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "mysql-nexus-ncg-staging-beaconinfo"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    query => "serial:\"%{[json][attributes][device_serial_number]}\""
    fields => {
      "departmentid" => "[json][attributes][departmentid]"
      "elevation" => "[json][attributes][elevation]"
      "y" => "[json][attributes][y]"
      "x" => "[json][attributes][x]"
      "buildingid" => "[json][attributes][buildingid]"
      "customer" => "[json][attributes][customer]"
      "lat" => "[json][attributes][location][lat]"
      "long" => "[json][attributes][location][lon]"
      "department" => "[json][attributes][department]"
      "floor" => "[json][attributes][floor]"
      "serial" => "[json][attributes][serial]"
      "platform" => "[json][attributes][platform]"
      "location" => "[json][attributes][locationname]"
      "name" => "[json][attributes][device]"
      "floorid" => "[json][attributes][floorid]"
      "customerid" => "[json][attributes][customerid]"
      "type" => "[json][attributes][devicetype]"
      "deviceid" => "[json][attributes][deviceid]"
      "building" => "[json][attributes][building]"
    }
    result_size => 1
  }
  
  # add all the device related fields from the elastic search
  # field data type definitions
  mutate {
    remove_field => ["device_serial_number"]
    convert => {
      "[json][attributes][location][lat]" => "float"
      "[json][attributes][location][lon]" => "float"
    }
    copy => { "@timestamp" => "[json][attributes][event_at]" }
  }

  # avoid duplication of messages
  fingerprint {
    source => "message"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# elastic search output
output {
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "microshare-nexus-ncg-staging-events"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
