# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5028
input {
  beats {
    port => 5028
  }
}

# this config will receive deployments
filter {
  fingerprint {
    source => "message"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# elastic search output
output {
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "microshare-nexus-ncg-staging-info"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
