# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5025
input {
  beats {
    port => 5025
  }
}

# this config will receive deployments, buildings+floors and beacons events. If the event is buildings we have to add
# add floors to the event
filter {
  # mysql data index is already taking care of this.
  #if [json][type] == "building" {
  #  http {
  #    url => "https://api.spaceti.net/v1/buildings/%{[json][id]}/floors"
  #    headers => {
  #      "Authorization" => "Bearer f4c5bf697b1eeca12909a85627b0995a"
  #    }
  #    body_format => "json"
  #    target_body => "[floors]"
  #  }
  #}
  fingerprint {
    source => "message"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# elastic search output
output {
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "spaceti-nexus-ncg-staging-info"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
