# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5024
input {
  beats {
    port => 5024
  }
}

# filter to elasticsearch to get the device serial number and then with the serial number get the beacon details.
# Both the searches are on elasticsearch - removing dependency on mysql
filter {

  # find the mapping device
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "spaceti-nexus-ncg-staging-info"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    query => "json.type:deployment AND json.id:%{[json][attributes][deployment_id]}"
    fields => { "[json][attributes][serial_number]" => "device_serial_number" }
    result_size => 1
  }

  # find the matching device number and attach all the info about the device
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "mysql-nexus-ncg-staging-beaconinfo"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    query => "serial:%{[device_serial_number]}"
    fields => {
      "departmentid" => "[json][attributes][departmentid]"
      "elevation" => "[json][attributes][elevation]"
      "y" => "[json][attributes][y]"
      "x" => "[json][attributes][x]"
      "buildingid" => "[json][attributes][buildingid]"
      "customer" => "[json][attributes][customer]"
      "lat" => "[json][attributes][location][lat]"
      "long" => "[json][attributes][location][lon]"
      "department" => "[json][attributes][department]"
      "floor" => "[json][attributes][floor]"
      "serial" => "[json][attributes][serial]"
      "platform" => "[json][attributes][platform]"
      "location" => "[json][attributes][locationname]"
      "name" => "[json][attributes][device]"
      "floorid" => "[json][attributes][floorid]"
      "customerid" => "[json][attributes][customerid]"
      "type" => "[json][attributes][devicetype]"
      "deviceid" => "[json][attributes][deviceid]"
      "building" => "[json][attributes][building]"
    }
    result_size => 1
  }

  # add all the device related fields from the elastic search
  # field data type definitions
  mutate {
    remove_field => ["device_serial_number"]
    convert => {
      "[json][attributes][location][lat]" => "float"
      "[json][attributes][location][lon]" => "float"
    }
  }

  if [json][attributes][moved] == 1 {
    mutate {
      update => { "[json][attributes][moved]" => true }
    } 
  } else {
    mutate {
      update => { "[json][attributes][moved]" => false }
    } 
  }  

  # make sure timestamp is formatted
  date {
    target => "@timestamp"
    match => ["[json][attributes][event_at]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
  }

  # avoid duplication of messages
  fingerprint {
    source => "message"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# elastic search output
output {
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "spaceti-nexus-ncg-staging-events"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
