# Beats -> Logstash -> Elasticsearch pipeline.

# Input port from filebeat 5030
input {
  beats {
    port => 5030
  }
}

# filtering the data
filter {

  # make sure timestamp is formatted
  date {
    target => "@timestamp"
    match => ["[json][_source][@timestamp]", "MMM dd yyyy HH:mm:ss","MMM  d yyyy HH:mm:ss", "ISO8601"]
  }

  # set up the uniqueid
  mutate {
   add_field => { "unique_document_id" => "%{[json][_id]}" }
   remove_field => ["[json][_source][json][attributes][event_at]","[json][_source][json][attributes][created_at]"]
  }

  # arbnco fields
  if "arbnco" in [tags] {
    ruby {
      code => "event.get('[json][_source][json][attributes][y]') ? event.set('y', event.get('[json][_source][json][attributes][y]')) : event.set('y', nil)
          event.get('[json][_source][json][attributes][x]') ? event.set('x', event.get('[json][_source][json][attributes][x]')) : event.set('x', nil)
          event.get('[json][_source][json][attributes][macaddress]') ? event.set('macAddress', event.get('[json][_source][json][attributes][macaddress]')) : event.set('macAddress', nil)
          event.get('[json][_source][json][attributes][count]') ? event.set('count', event.get('[json][_source][json][attributes][count]')) : event.set('count', nil)
          event.get('[json][_source][json][attributes][humidity]') ? event.set('humidity', event.get('[json][_source][json][attributes][humidity]')) : event.set('humidity', nil)
          event.get('[json][_source][json][attributes][als]') ? event.set('als', event.get('[json][_source][json][attributes][als]')) : event.set('als', nil)
          event.get('[json][_source][json][attributes][serial]') ? event.set('serial', event.get('[json][_source][json][attributes][serial]')) : event.set('serial', nil)
          event.get('[json][_source][json][attributes][tvoc]') ? event.set('voc', event.get('[json][_source][json][attributes][tvoc]')) : event.set('voc', nil)
          event.get('[json][_source][json][attributes][elevation]') ? event.set('elevation', event.get('[json][_source][json][attributes][elevation]')) : event.set('elevation', nil)
          event.get('[json][_source][json][attributes][co2]') ? event.set('co2', event.get('[json][_source][json][attributes][co2]')) : event.set('co2', nil)
          event.get('[json][_source][json][attributes][customer]') ? event.set('customer', event.get('[json][_source][json][attributes][customer]')) : event.set('customer', nil)
          event.get('[json][_source][json][attributes][customerid]') ? event.set('customerId', event.get('[json][_source][json][attributes][customerid]')) : event.set('customerId', nil)
          event.get('[json][_source][json][attributes][floor]') ? event.set('floor', event.get('[json][_source][json][attributes][floor]')) : event.set('floor', nil)
          event.get('[json][_source][json][attributes][floorid]') ? event.set('floorId', event.get('[json][_source][json][attributes][floorid]')) : event.set('floorId', nil)
          event.get('[json][_source][json][attributes][temperature]') ? event.set('tempPrimary', event.get('[json][_source][json][attributes][temperature]')) : event.set('tempPrimary', nil)
          event.get('[json][_source][json][attributes][environment][external_temp]') ? event.set('tempSecondary', event.get('[json][_source][json][attributes][environment][external_temp]')) : event.set('tempSecondary', nil)
          event.get('[json][_source][json][attributes][department]') ? event.set('department', event.get('[json][_source][json][attributes][department]')) : event.set('department', nil)
          event.get('[json][_source][json][attributes][departmentid]') ? event.set('departmentId', event.get('[json][_source][json][attributes][departmentid]')) : event.set('departmentId', nil)
          event.get('[json][_source][json][attributes][device]') ? event.set('device', event.get('[json][_source][json][attributes][device]')) : event.set('device', nil)
          event.get('[json][_source][json][attributes][deviceid]') ? event.set('deviceId', event.get('[json][_source][json][attributes][deviceid]')) : event.set('deviceId', nil)
          event.get('[json][_source][json][attributes][devicetype]') ? event.set('deviceType', event.get('[json][_source][json][attributes][devicetype]')) : event.set('deviceType', nil)
          event.get('[json][_source][json][attributes][platform]') ? event.set('platform', event.get('[json][_source][json][attributes][platform]')) : event.set('platform', nil)
          event.get('[json][_source][json][attributes][building]') ? event.set('building', event.get('[json][_source][json][attributes][building]')) : event.set('building', nil)
          event.get('[json][_source][json][attributes][buildingid]') ? event.set('buildingId', event.get('[json][_source][json][attributes][buildingid]')) : event.set('buildingId', nil)
          event.get('[json][_source][json][attributes][occupancy]') ? event.set('occupied', event.get('[json][_source][json][attributes][occupancy]')) : event.set('occupied', nil)
          event.get('[json][_source][json][attributes][duration]') ? event.set('duration', event.get('[json][_source][json][attributes][duration]')) : event.set('duration', nil)
          event.get('[json][_source][json][attributes][leak_detection]') ? event.set('leak', event.get('[json][_source][json][attributes][leak_detection]')) : event.set('leak', nil)
          event.get('[json][_source][json][attributes][locationname]') ? event.set('locationName', event.get('[json][_source][json][attributes][locationname]')) : event.set('locationName', nil)
          event.get('[json][_source][json][attributes][location][lat]') ? event.set('[location][lat]', event.get('[json][_source][json][attributes][location][lat]')) : event.set('[location][lat]', nil)
          event.get('[json][_source][json][attributes][location][lon]') ? event.set('[location][lon]', event.get('[json][_source][json][attributes][location][lon]')) : event.set('[location][lon]', nil)
          event.get('[json][_source][json][attributes][pm]') ? event.set('pm', event.get('[json][_source][json][attributes][pm]')) : event.set('pm', nil)
          event.get('[json][_source][json][attributes][pm10]') ? event.set('pm10', event.get('[json][_source][json][attributes][pm10]')) : event.set('pm10', nil)
          event.get('[json][_source][json][attributes][pm25]') ? event.set('pm25', event.get('[json][_source][json][attributes][pm25]')) : event.set('pm25', nil)
          event.get('[json][_source][json][attributes][openclose]') ? event.set('openclose', event.get('[json][_source][json][attributes][openclose]')) : event.set('openclose', nil)
          event.get('[json][_source][json][attributes][current]') ? event.set('current', event.get('[json][_source][json][attributes][current]')) : event.set('current', nil)"
    }
    mutate {
      remove_field => ["json"]
    }
  }

  # spaceti fields
  if "spaceti" in [tags] {
    ruby {
      code => "event.get('[json][_source][json][attributes][y]') ? event.set('y', event.get('[json][_source][json][attributes][y]')) : event.set('y', nil)
        event.get('[json][_source][json][attributes][x]') ? event.set('x', event.get('[json][_source][json][attributes][x]')) : event.set('x', nil)
        event.get('[json][_source][json][attributes][macaddress]') ? event.set('macAddress', event.get('[json][_source][json][attributes][macaddress]')) : event.set('macAddress', nil)
        event.get('[json][_source][json][attributes][count]') ? event.set('count', event.get('[json][_source][json][attributes][count]')) : event.set('count', nil)
        event.get('[json][_source][json][attributes][humidity]') ? event.set('humidity', event.get('[json][_source][json][attributes][humidity]')) : event.set('humidity', nil)
        event.get('[json][_source][json][attributes][als]') ? event.set('als', event.get('[json][_source][json][attributes][als]')) : event.set('als', nil)
        event.get('[json][_source][json][attributes][serial]') ? event.set('serial', event.get('[json][_source][json][attributes][serial]')) : event.set('serial', nil)
        event.get('[json][_source][json][attributes][voc]') ? event.set('voc', event.get('[json][_source][json][attributes][voc]')) : event.set('voc', nil)
        event.get('[json][_source][json][attributes][elevation]') ? event.set('elevation', event.get('[json][_source][json][attributes][elevation]')) : event.set('elevation', nil)
        event.get('[json][_source][json][attributes][co2]') ? event.set('co2', event.get('[json][_source][json][attributes][co2]')) : event.set('co2', nil)
        event.get('[json][_source][json][attributes][customer]') ? event.set('customer', event.get('[json][_source][json][attributes][customer]')) : event.set('customer', nil)
        event.get('[json][_source][json][attributes][customerid]') ? event.set('customerId', event.get('[json][_source][json][attributes][customerid]')) : event.set('customerId', nil)
        event.get('[json][_source][json][attributes][floor]') ? event.set('floor', event.get('[json][_source][json][attributes][floor]')) : event.set('floor', nil)
        event.get('[json][_source][json][attributes][floorid]') ? event.set('floorId', event.get('[json][_source][json][attributes][floorid]')) : event.set('floorId', nil)
        event.get('[json][_source][json][attributes][temperature]') ? event.set('tempPrimary', event.get('[json][_source][json][attributes][temperature]')) : event.set('tempPrimary', nil)
        event.get('[json][_source][json][attributes][environment][external_temp]') ? event.set('tempSecondary', event.get('[json][_source][json][attributes][environment][external_temp]')) : event.set('tempSecondary', nil)  
        event.get('[json][_source][json][attributes][department]') ? event.set('department', event.get('[json][_source][json][attributes][department]')) : event.set('department', nil)
        event.get('[json][_source][json][attributes][departmentid]') ? event.set('departmentId', event.get('[json][_source][json][attributes][departmentid]')) : event.set('departmentId', nil)
        event.get('[json][_source][json][attributes][device]') ? event.set('device', event.get('[json][_source][json][attributes][device]')) : event.set('device', nil)
        event.get('[json][_source][json][attributes][deviceid]') ? event.set('deviceId', event.get('[json][_source][json][attributes][deviceid]')) : event.set('deviceId', nil)
        event.get('[json][_source][json][attributes][devicetype]') ? event.set('deviceType', event.get('[json][_source][json][attributes][devicetype]')) : event.set('deviceType', nil)
        event.get('[json][_source][json][attributes][platform]') ? event.set('platform', event.get('[json][_source][json][attributes][platform]')) : event.set('platform', nil)
        event.get('[json][_source][json][attributes][building]') ? event.set('building', event.get('[json][_source][json][attributes][building]')) : event.set('building', nil)
        event.get('[json][_source][json][attributes][buildingid]') ? event.set('buildingId', event.get('[json][_source][json][attributes][buildingid]')) : event.set('buildingId', nil)
        event.get('[json][_source][json][attributes][moved]') ? event.set('occupied', event.get('[json][_source][json][attributes][moved]')) : event.set('occupied', false)
        event.get('[json][_source][json][attributes][duration]') ? event.set('duration', event.get('[json][_source][json][attributes][duration]')) : event.set('duration', nil)
        event.get('[json][_source][json][attributes][leak_detection]') ? event.set('leak', event.get('[json][_source][json][attributes][leak_detection]')) : event.set('leak', nil)
        event.get('[json][_source][json][attributes][locationname]') ? event.set('locationName', event.get('[json][_source][json][attributes][locationname]')) : event.set('locationName', nil)
        event.get('[json][_source][json][attributes][location][lat]') ? event.set('[location][lat]', event.get('[json][_source][json][attributes][location][lat]')) : event.set('[location][lat]', nil)
        event.get('[json][_source][json][attributes][location][lon]') ? event.set('[location][lon]', event.get('[json][_source][json][attributes][location][lon]')) : event.set('[location][lon]', nil)
        event.get('[json][_source][json][attributes][pm]') ? event.set('pm', event.get('[json][_source][json][attributes][pm]')) : event.set('pm', nil)
        event.get('[json][_source][json][attributes][pm10]') ? event.set('pm10', event.get('[json][_source][json][attributes][pm10]')) : event.set('pm10', nil)
        event.get('[json][_source][json][attributes][pm25]') ? event.set('pm25', event.get('[json][_source][json][attributes][pm25]')) : event.set('pm25', nil)
        event.get('[json][_source][json][attributes][openclose]') ? event.set('openclose', event.get('[json][_source][json][attributes][openclose]')) : event.set('openclose', nil)
      event.get('[json][_source][json][attributes][current]') ? event.set('current', event.get('[json][_source][json][attributes][current]')) : event.set('current', nil)"
    }
    mutate {
      remove_field => ["json"]
    }
  }

  # microshare fields
  if "microshare" in [tags] {
    ruby {
      code => "event.get('[json][_source][json][attributes][y]') ? event.set('y', event.get('[json][_source][json][attributes][y]')) : event.set('y', nil)
          event.get('[json][_source][json][attributes][x]') ? event.set('x', event.get('[json][_source][json][attributes][x]')) : event.set('x', nil)
          event.get('[json][_source][json][attributes][macaddress]') ? event.set('macAddress', event.get('[json][_source][json][attributes][macaddress]')) : event.set('macAddress', nil)
          event.get('[json][_source][json][attributes][count]') ? event.set('count', event.get('[json][_source][json][attributes][count]')) : event.set('count', nil)
          event.get('[json][_source][json][attributes][environment][humidity]') ? event.set('humidity', event.get('[json][_source][json][attributes][environment][humidity]')) : event.set('humidity', nil)
          event.get('[json][_source][json][attributes][leak_detection][humidity]') ? event.set('humidity', event.get('[json][_source][json][attributes][leak_detection][humidity]')) : event.set('humidity', nil)
          event.get('[json][_source][json][attributes][als]') ? event.set('als', event.get('[json][_source][json][attributes][als]')) : event.set('als', nil)
          event.get('[json][_source][json][attributes][serial]') ? event.set('serial', event.get('[json][_source][json][attributes][serial]')) : event.set('serial', nil)
          event.get('[json][_source][json][attributes][voc]') ? event.set('voc', event.get('[json][_source][json][attributes][voc]')) : event.set('voc', nil)
          event.get('[json][_source][json][attributes][elevation]') ? event.set('elevation', event.get('[json][_source][json][attributes][elevation]')) : event.set('elevation', nil)
          event.get('[json][_source][json][attributes][environment][co2]') ? event.set('co2', event.get('[json][_source][json][attributes][environment][co2]')) : event.set('co2', nil)
          event.get('[json][_source][json][attributes][customer]') ? event.set('customer', event.get('[json][_source][json][attributes][customer]')) : event.set('customer', nil)
          event.get('[json][_source][json][attributes][customerid]') ? event.set('customerId', event.get('[json][_source][json][attributes][customerid]')) : event.set('customerId', nil)
          event.get('[json][_source][json][attributes][floor]') ? event.set('floor', event.get('[json][_source][json][attributes][floor]')) : event.set('floor', nil)
          event.get('[json][_source][json][attributes][floorid]') ? event.set('floorId', event.get('[json][_source][json][attributes][floorid]')) : event.set('floorId', nil)
          event.set('tempPrimary',nil)
          event.set('tempSecondary',nil)
          event.get('[json][_source][json][attributes][temperature]') ? event.set('tempPrimary', event.get('[json][_source][json][attributes][temperature]')) : event.set('tempPrimarytemp', nil)
          event.get('[json][_source][json][attributes][environment][temperature][context_id_0]') ? event.set('tempPrimary', event.get('[json][_source][json][attributes][environment][temperature][context_id_0]')) : event.set('tempPrimarytemp', nil)
          event.get('[json][_source][json][attributes][environment][temperature][context_id_1]') ? event.set('tempSecondary', event.get('[json][_source][json][attributes][environment][temperature][context_id_1]')) : event.set('tempSecondarytemp', nil)
          event.get('[json][_source][json][attributes][environment][internal_temp]') ? event.set('tempPrimary', event.get('[json][_source][json][attributes][environment][internal_temp]')) : event.set('tempPrimarytemp', nil)
          event.get('[json][_source][json][attributes][environment][external_temp]') ? event.set('tempSecondary', event.get('[json][_source][json][attributes][environment][external_temp]')) : event.set('tempSecondarytemp', nil)
          event.get('[json][_source][json][attributes][department]') ? event.set('department', event.get('[json][_source][json][attributes][department]')) : event.set('department', nil)
          event.get('[json][_source][json][attributes][departmentid]') ? event.set('departmentId', event.get('[json][_source][json][attributes][departmentid]')) : event.set('departmentId', nil)
          event.get('[json][_source][json][attributes][device]') ? event.set('device', event.get('[json][_source][json][attributes][device]')) : event.set('device', nil)
          event.get('[json][_source][json][attributes][deviceid]') ? event.set('deviceId', event.get('[json][_source][json][attributes][deviceid]')) : event.set('deviceId', nil)
          event.get('[json][_source][json][attributes][devicetype]') ? event.set('deviceType', event.get('[json][_source][json][attributes][devicetype]')) : event.set('deviceType', nil)
          event.get('[json][_source][json][attributes][platform]') ? event.set('platform', event.get('[json][_source][json][attributes][platform]')) : event.set('platform', nil)
          event.get('[json][_source][json][attributes][building]') ? event.set('building', event.get('[json][_source][json][attributes][building]')) : event.set('building', nil)
          event.get('[json][_source][json][attributes][buildingid]') ? event.set('buildingId', event.get('[json][_source][json][attributes][buildingid]')) : event.set('buildingId', nil)
          event.get('[json][_source][json][attributes][occupancy]') ? event.set('occupied', event.get('[json][_source][json][attributes][occupancy][status]')) : event.set('occupied', nil)
          event.get('[json][_source][json][data][time]') ? event.set('duration', event.get('[json][_source][json][data][time]')) : event.set('duration', nil)
          event.get('[json][_source][json][attributes][leak_detection]') ? event.set('leak', event.get('[json][_source][json][attributes][leak_detection][value]')) : event.set('leak', nil)
          event.get('[json][_source][json][attributes][locationname]') ? event.set('locationName', event.get('[json][_source][json][attributes][locationname]')) : event.set('locationName', nil)
          event.get('[json][_source][json][attributes][location][lat]') ? event.set('[location][lat]', event.get('[json][_source][json][attributes][location][lat]')) : event.set('[location][lat]', nil)
          event.get('[json][_source][json][attributes][location][lon]') ? event.set('[location][lon]', event.get('[json][_source][json][attributes][location][lon]')) : event.set('[location][lon]', nil)
          event.get('[json][_source][json][attributes][pm]') ? event.set('pm', event.get('[json][_source][json][attributes][pm]')) : event.set('pm', nil)
          event.get('[json][_source][json][attributes][pm10]') ? event.set('pm10', event.get('[json][_source][json][attributes][pm10]')) : event.set('pm10', nil)
          event.get('[json][_source][json][attributes][pm25]') ? event.set('pm25', event.get('[json][_source][json][attributes][pm25]')) : event.set('pm25', nil)
          event.get('[json][_source][json][attributes][openclose][status]') ? event.set('openclose', event.get('[json][_source][json][attributes][openclose][status]')) : event.set('openclose', nil)
          event.get('[json][_source][json][attributes][current]') ? event.set('current', event.get('[json][_source][json][attributes][current]')) : event.set('current', nil)
          event.get('[json][_source][json][attributes][current][value1]') ? event.set('currentvalue1', event.get('[json][_source][json][attributes][current][value1]')) : event.set('currentvalue1', nil)
          event.get('[json][_source][json][attributes][current][value2]') ? event.set('currentvalue2', event.get('[json][_source][json][attributes][current][value2]')) : event.set('currentvalue2', nil)
          event.get('[json][_source][json][attributes][current][value3]') ? event.set('currentvalue3', event.get('[json][_source][json][attributes][current][value3]')) : event.set('currentvalue3', nil)"
          remove_field => ["[current][device_id]","[current][time]","[openClose][device_id]","[openClose][time]","[tempPrimarytemp]","[tempSecondarytemp]","[current][value1]","[current][value2]","[current][value3]","[current][voltage]"]
    }
    mutate {
      remove_field => ["json","current"]
    }
  }

  # add all the device related fields from the elastic search
  # field data type definitions
  mutate {
    convert => {
      "x" => "integer"
      "y" => "integer"
      "macAddress" => "string"
      "count" => "integer"
      "humidity" => "float"
      "als" => "string"
      "serial" => "string"
      "voc" => "float"
      "elevation" => "float"
      "co2" => "float"
      "customer" => "string"
      "customerId" => "integer"
      "floor" => "string"
      "floorId" => "integer"
      "temperature" => "float"
      "tempPrimary" => "float"
      "tempSecondary" => "float"
      "department" => "string"
      "departmentId" => "integer"
      "device" => "string"
      "deviceId" => "integer"
      "deviceType" => "string"
      "platform" => "string"
      "building" => "string"
      "buildingId" => "integer"
      "occupancy" => "boolean"
      "occupied" => "boolean"
      "openclose" => "boolean"
      "duration" => "float"
      "leak" => "boolean"
      "locationName" => "string"
      "pm" => "integer"
      "pm10" => "integer"
      "pm25" => "integer"
      "[location][lat]" => "float"
      "[location][lon]" => "float"
      "currentvalue1" => "float"
      "currentvalue2" => "float"
      "currentvalue3" => "float"
    }
  }

  # avoid duplication of messages
  fingerprint {
    source => "unique_document_id"
    target => "[@metadata][fingerprint]"
    method => "SHA1"
    key => "Duplicate events"
    base64encode => true
  }
}

# output to elastic search
output {
  elasticsearch {
    hosts => ["https://f8b3c1c53dad49ababec890d7f45a356.eu-west-2.aws.cloud.es.io:9243"]
    index => "unified-nexus-ncg-staging-events"
    user => "sateeshp@wearedauntless.com"
    password => "san7aung.kaic_LUK"
    document_id => "%{[@metadata][fingerprint]}"
  }
}
